
GSI_SKIP_HOST_CHECK = True

#GSI_SKIP_HOST_CHECK_CERT_REGEX = "^\/DC\=com\/DC\=DigiCert\-Grid\/O\=Open Science Grid\/OU\=Services\/CN\=login.*\.osgconnect\.net$"

ALLOW_ADMINISTRATOR = $(ALLOW_ADMINISTRATOR) xd_login@flock.opensciencegrid.org/xd-login.opensciencegrid.org rynge@flock.opensciencegrid.org/xd-login.opensciencegrid.org

