
# static port
#NEGOTIATOR_ARGS = -f -p 9601
NEGOTIATOR_ARGS = -f -p 9617

# added 2/29/16 because flocking and dynamic group calculations were not correct
NEGOTIATOR_USE_WEIGHTED_DEMAND = False

# Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom

# Prevent user priority preemption
PREEMPTION_REQUIREMENTS = False

# Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all condor_startd
# rank expressions must be False for NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False

# suggested by Greg Thain 5/1/13
NEGOTIATOR_ALLOW_QUOTA_OVERSUBSCRIPTION = False

NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_UPDATE_INTERVAL = 60

# don't wait around for slow/misconfigured schedds
NEGOTIATOR_TIMEOUT = 20
SEC_TCP_SESSION_DEADLINE = 30

NEGOTIATOR_MAX_TIME_PER_SCHEDD = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER = 40
NEGOTIATOR_MAX_TIME_PER_PIESPIN = 60

#NEGOTIATOR_INFORM_STARTD = False


# Shamelessly stolen from CMS
# Setup alternate negotiators so we can partition the pool.
# We run one negotiator for T2_US_*, one for T1_*/T2_CH_CERN, and one for everyone else.
# Right now, this is as close as we have to splitting the pool into thirds (the "everyone else"
# negotiator is still a bit bigger).
#
# Define the new negotiator daemons; add them to the daemon list:
NEGOTIATORBYO = $(NEGOTIATOR)
NEGOTIATORBYO_ARGS = -f -p 9602 -local-name NEGOTIATORBYO
NEGOTIATORBYO.NEGOTIATOR_NAME = "NEGOTIATORBYO"
NEGOTIATORBYO.NEGOTIATOR_LOG = $(LOG)/NegotiatorBYOLog
NEGOTIATORBYO.MATCH_LOG = $(LOG)/MatchBYOLog
NEGOTIATORBYO.SPOOL = $(SPOOL)/negotiator_byo
NEGOTIATORBYO.GROUP_NAMES =

VALID_SPOOL_FILES=$(VALID_SPOOL_FILES), negotiator_byo
DAEMON_LIST = $(DAEMON_LIST), NEGOTIATORBYO
DC_DAEMON_LIST =+ NEGOTIATORBYO

# Make sure each negotiator considers the right set of slots.
NEGOTIATOR_SLOT_CONSTRAINT = GLIDECLIENT_Group =!= "ams" && GLIDEIN_ResourceName =!= "PSC_Bridges" && GLIDEIN_ResourceName =!= "Comet" && GLIDEIN_ResourceName =!= "SDSC_Comet" && (isundefined(OSG_GLIDEIN_VERSION) || (OSG_GLIDEIN_VERSION >= 313)) && GLIDEIN_Site =!= "IIT"
NEGOTIATORBYO.NEGOTIATOR_SLOT_CONSTRAINT = GLIDECLIENT_Group =?= "ams" || GLIDEIN_ResourceName =?= "PSC_Bridges" || GLIDEIN_ResourceName =?= "Comet" || GLIDEIN_ResourceName =?= "SDSC_Comet"


