#-- Allowed schedds

ALLOW_ADVERTISE_SCHEDD_COLLECTOR = \
      ap41-wisc@flock.opensciencegrid.org \
      ap42-wisc@flock.opensciencegrid.org  \
      #Arizona-ResearchTechnologies-Gateway@arizona.edu \
      connect@flock.opensciencegrid.org \
      jlab@flock.opensciencegrid.org \
      #gluex-uconn@flock.opensciencegrid.org \
      nanohub@flock.opensciencegrid.org \
      RESOURCE-ap2001.chtc.wisc.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-ap2002.chtc.wisc.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-ap41.uw.osg-htc.org@cm-1.ospool.osg-htc.org \
      RESOURCE-ap43.uw.osg-htc.org@cm-1.ospool.osg-htc.org \
      #RESOURCE-chtc.ap0.jsums.edu@cm-1.ospool.osg-htc.org \
      #RESOURCE-comses.sol.rc.asu.edu@cm-1.ospool.osg-htc.org \
      #RESOURCE-cpass.unl.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-gpatlas1.ps.uci.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-gpatlas2.ps.uci.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-grid-submitter.icecube.wisc.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-huxley-osgsub-001.sdmz.amnh.org@cm-1.ospool.osg-htc.org \
      RESOURCE-mendel-osgsub-001.sdmz.amnh.org@flock.opensciencegrid.org \
      RESOURCE-learn.chtc.wisc.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-osg-eic.jlab.org@cm-1.ospool.osg-htc.org \
      RESOURCE-osg-moller.jlab.org@cm-1.ospool.osg-htc.org \
      RESOURCE-osg-solid.jlab.org@cm-1.ospool.osg-htc.org \
      #RESOURCE-osgsub01.sdcc.bnl.gov@cm-1.ospool.osg-htc.org \
      RESOURCE-osg-vo.isi.edu@flock.opensciencegrid.org \
      RESOURCE-pegasus.access-ci.org@cm-1.ospool.osg-htc.org \
      RESOURCE-scosg2201.jlab.org@flock.opensciencegrid.org \
      RESOURCE-scosg2202.jlab.org@flock.opensciencegrid.org \
      RESOURCE-submit.mit.edu@flock.opensciencegrid.org \
      RESOURCE-uclhc-1.ps.uci.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-uclhc-2.ps.uci.edu@cm-1.ospool.osg-htc.org \
      RESOURCE-wright-ap4000.chtc.wisc.edu@cm-1.ospool.osg-htc.org \
      submit6.chtc.wisc.edu@flock.opensciencegrid.org

