
TRUST_DOMAIN = flock.opensciencegrid.org

# use our good key for token signing
SEC_TOKEN_ISSUER_KEY = flock.opensciencegrid.org

CERTIFICATE_MAPFILE= /etc/condor/certs/condor_mapfile

ALLOW_ADMINISTRATOR = condor@$(UID_DOMAIN) root@$(UID_DOMAIN) ospool@flock.opensciencegrid.org token-registry@flock.opensciencegrid.org token-registry-dev@flock.opensciencegrid.org

# use our own SSL settings (gwms sets these earlier in the config)
AUTH_SSL_CLIENT_CAFILE = /etc/pki/tls/certs/ca-bundle.crt
AUTH_SSL_SERVER_CAFILE = /etc/pki/tls/certs/ca-bundle.crt
AUTH_SSL_SERVER_CERTFILE = /etc/ospool-creds/tls.d/tls.crt
AUTH_SSL_SERVER_KEYFILE = /etc/ospool-creds/tls.d/tls.key

#-- Authentication settings
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = IDTOKEN,SSL,FS
SEC_DAEMON_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
SEC_CLIENT_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS)
SEC_READ_AUTHENTICATION    = OPTIONAL
SEC_CLIENT_AUTHENTICATION  = OPTIONAL
DENY_WRITE         = anonymous@* unauthenticated@*
DENY_ADMINISTRATOR = anonymous@* unauthenticated@*
DENY_DAEMON        = anonymous@* unauthenticated@*
DENY_NEGOTIATOR    = anonymous@* unauthenticated@*
DENY_CLIENT        = anonymous@* unauthenticated@*

#--  Privacy settings
SEC_DEFAULT_ENCRYPTION = OPTIONAL
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL
SEC_READ_ENCRYPTION = OPTIONAL
SEC_CLIENT_ENCRYPTION = OPTIONAL

#-- With strong security, do not use IP based controls
HOSTALLOW_WRITE = *
ALLOW_WRITE = $(HOSTALLOW_WRITE)
ALLOW_DAEMON = *

#-- Revocations

SEC_TOKEN_REVOCATION_EXPR = (jti =?= "ec0fc9ae90c6f056d3b253bb23b43578") || \
                            (regexp("\.facility(-dev)?\.path-cc\.io", sub) && iat < 1666801628)
