
# direct connection
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=xd-login.opensciencegrid.org
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=osg-vo.isi.edu

# CSIU
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=csiu.grid.iu.edu
FLOCK_FROM = $(FLOCK_FROM) csiu.grid.iu.edu

FLOCK_FROM = $(FLOCK_FROM) login01.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login01.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) login02.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login02.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) login03.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=login03.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) duke-login.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=duke-login.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) login.ci-connect.uchicago.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login.ci-connect.uchicago.edu

FLOCK_FROM = $(FLOCK_FROM) training.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=training.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) fsurf.osgconnect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=fsurf.osgconnect.net

FLOCK_FROM = $(FLOCK_FROM) login.umich.ci-connect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=login.umich.ci-connect.net

FLOCK_FROM = $(FLOCK_FROM) login.cms.ci-connect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=login.cms.ci-connect.net

FLOCK_FROM = $(FLOCK_FROM) login.xenon.ci-connect.net
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login.xenon.ci-connect.net

FLOCK_FROM = $(FLOCK_FROM) amundsen.grid.uchicago.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=amundsen.grid.uchicago.edu

FLOCK_FROM = $(FLOCK_FROM) scott.grid.uchicago.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=scott.grid.uchicago.edu

# MIT
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=submit.mit.edu
FLOCK_FROM = $(FLOCK_FROM) submit.mit.edu

# IIT
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=otsgrid.iit.edu
FLOCK_FROM = $(FLOCK_FROM) otsgrid.iit.edu

FLOCK_FROM = $(FLOCK_FROM) submit1.bioinformatics.vt.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=submit1.bioinformatics.vt.edu

FLOCK_FROM = $(FLOCK_FROM) gw68.quarry.iu.teragrid.org
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=Services/CN=gw68.quarry.iu.teragrid.org

FLOCK_FROM = $(FLOCK_FROM) iplant-condor.tacc.utexas.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=incommon/C=US/postalCode=78711/ST=TX/L=Austin/street=1 University Station/O=The University of Texas at Austin/OU=TACC - Texas Advanced Computing Center/CN=iplant-condor.tacc.utexas.edu

FLOCK_FROM = $(FLOCK_FROM) iplant-condor-iu.tacc.utexas.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=incommon/C=US/postalCode=78711/ST=TX/L=Austin/street=1 University Station/O=The University of Texas at Austin/OU=TACC - Texas Advanced Computing Center/CN=iplant-condor-iu.tacc.utexas.edu

# direct connection
#FLOCK_FROM = $(FLOCK_FROM) glide.bakerlab.org
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=glide.bakerlab.org

FLOCK_FROM = $(FLOCK_FROM) workflow.isi.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=workflow.isi.edu

FLOCK_FROM = $(FLOCK_FROM) test-001.t2.ucsd.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=test-001.t2.ucsd.edu

FLOCK_FROM = $(FLOCK_FROM) test-004.t2.ucsd.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=test-004.t2.ucsd.edu

FLOCK_FROM = $(FLOCK_FROM) lsst-glidein.rcac.purdue.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=lsst-glidein.rcac.purdue.edu

FLOCK_FROM = $(FLOCK_FROM) scosg16.jlab.org
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=scosg16.jlab.org


