
# default priorities
DEFAULT_PRIO_FACTOR = 1000
REMOTE_PRIO_FACTOR = 1000

# half-life for real user priority
PRIORITY_HALFLIFE = 172800

GROUP_NAMES = \
              group_xsedehigh

#              group_xsedelow, \
#              group_opportunistic

# and jobs not having a group are jobs flocking

#GROUP_QUOTA_DYNAMIC_group_mitlns = .35
GROUP_QUOTA_DYNAMIC_group_xsedehigh = .40

#GROUP_QUOTA_DYNAMIC_group_xsedelow = .15
#GROUP_QUOTA_DYNAMIC_group_opportunistic = .35

GROUP_ACCEPT_SURPLUS = True

# Default: ifThenElse(AccountingGroup=?="<none>",3.4e+38,ifThenElse(GroupQuota>0,GroupResourcesInUse/GroupQuota,3.3e+38))

# randomly put the <none> group first to prevent starvation from flocking hosts
#GROUP_SORT_EXPR = ifThenElse(AccountingGroup =?= "<none>", \
#                             ifThenElse(random(100) < 1, 0, 1e+30), \
#                             ifThenElse(GroupQuota > 0, GroupResourcesInUse/GroupQuota, 1e+20))

# promise N slots to flocking hosts
#GROUP_SORT_EXPR = ifThenElse(AccountingGroup =?= "<none>", \
#                             GroupResourcesInUse/2000.0, \
#                             ifThenElse(GroupQuota > 0, GroupResourcesInUse/GroupQuota, 1e+20))

