# disabled as it pollutes mwt2 ganglia
#DAEMON_LIST = $(DAEMON_LIST) GANGLIAD

GANGLIAD_METRICS_CONFIG_DIR = /etc/condor/ganglia.d
GANGLIAD_VERBOSITY = 0
GANGLIAD_PER_EXECUTE_NODE_METRICS = False
GANGLIA_SEND_DATA_FOR_ALL_HOSTS = False
#GANGLIAD_REQUIREMENTS = Machine == "xd-login.opensciencegrid.org"

